<ion-header>
    <ion-toolbar>
        <ion-title>用户登录</ion-title>
        <ion-buttons>
            <ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">取消</span>
                <!-- <ion-icon name="md-close" showWhen="android"></ion-icon> -->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="stacked">手机号码</ion-label>
            <ion-input type="text" [(ngModel)]="mobile"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">密码</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>

    <div padding>
        <ion-button color="primary" expand="block" (click)="login()">登录</ion-button>
    </div>
    <div padding text-center>
        <ion-button color="primary" fill="outline" size="small" (click)="goRegisterPage()">没有账号？注册</ion-button>
    </div>
</ion-content>