<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="discovery">
            <ion-icon name="navigate"></ion-icon>
            <ion-label>发现</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chat">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>聊天</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notification">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>通知</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="more">
            <ion-icon name="contact"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>