:root {
    --ion-toolbar-background: #f8f8f8;
    ion-content {
        --ion-background-color: #e5e6e8;
    }
    ion-list {
        --ion-background-color: #fff;
    }
}

.list {
    .item {
        background-color: #fff;
    }
}